<%- include('partials/header') %>

<div class="ui main text container segment">

    <div class="ui huge header">Welcome To My Blog!</div>

    <% blogs.forEach(element => { %>
        
        <h3><%= element.title %></h3>
        <p><%= element.created.toDateString() %></p>
        <img class="ui centered rounded image" src="<%= element.image %>" alt="">
        <p><%= element.body.substring(0, 100) %>...</p>
        <a href="/blogs/<%= element._id %>"><button class="ui button">Read More</button></a>

    <% }) %>

</div>

<%- include('partials/footer') %>