<%- include('partials/header') %>

<h1>This is the index page!</h1>

<% blogs.forEach(element => { %>
    <h1><%= element.title %></h1>
    <p><%= element.image %></p>
    <p><%= element.created %></p>
    <p><%= element.body %></p>

<% }) %>

<%- include('partials/footer') %>